<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.persistence.ProductStockTccMapper">
    <resultMap id="BaseResultMap" type="com.spring.domain.model.ProductStockTcc">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="status" jdbcType="INTEGER" property="status" typeHandler="com.spring.domain.type.handler.TccStatusTypeHandler" />
    </resultMap>
    <sql id="base_column">
        id,create_time,update_time,delete_time,expire_time,stock,product_id,status
    </sql>
    <insert id="addProductStockTcc" parameterType="com.spring.domain.model.ProductStockTcc" useGeneratedKeys="true" keyProperty="id">
        insert INTO t_product_stock_tcc(create_time,update_time,delete_time,expire_time,stock,product_id,status)
        VALUE (#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{deleteTime,jdbcType=TIMESTAMP},#{expireTime,jdbcType=TIMESTAMP},#{stock,jdbcType=INTEGER},#{productId,jdbcType=INTEGER},#{status,jdbcType=INTEGER,typeHandler=com.spring.domain.type.handler.TccStatusTypeHandler})
    </insert>

    <select id="getProductStockTccById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="base_column" />
        from t_product_stock_tcc
        where id=#{id,jdbcType=INTEGER}
    </select>

    <update id="updateProductStockTccStatus" parameterType="java.lang.Integer">
        update t_product_stock_tcc
        set status=1
        where id=#{id,jdbcType=INTEGER} AND status=0
    </update>
</mapper>