<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.persistence.IntegralChangeMapper">
    <resultMap id="BaseResultMap" type="com.spring.domain.model.IntegralChange">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="changeName" property="changeName" jdbcType="VARCHAR" />
        <result column="changeDep" property="changeDep" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="math" property="math" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="changeType" property="changeType" jdbcType="INTEGER" typeHandler="com.spring.domain.type.handler.IntegralChangeTypeHandler" />
        <result column="status" property="status" jdbcType="INTEGER" typeHandler="com.spring.domain.type.handler.IntegralChangeStatusHandler"/>
    </resultMap>

    <sql id="base_column">
        id,change_name changeName,change_dep changeDep,create_time createTime,update_time updateTime,change_type changeType,status,math,code
    </sql>

    <insert id="addIntegralChange" useGeneratedKeys="true" keyProperty="id">
        insert into t_integral_change(change_name,change_dep,create_time,update_time,status,math,change_type,code)
        VALUE (#{changeName,jdbcType=VARCHAR},#{changeDep,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER,typeHandler=com.spring.domain.type.handler.IntegralChangeStatusHandler},#{math,jdbcType=VARCHAR}
          ,#{changeType,jdbcType=INTEGER,typeHandler=com.spring.domain.type.handler.IntegralChangeTypeHandler},#{code,jdbcType=VARCHAR}
        )
    </insert>

    <select id="listIntegralChange" resultMap="BaseResultMap">
        select <include refid="base_column"/>
        from t_integral_change
        where status=#{integralChangeStatus,jdbcType=INTEGER,typeHandler=com.spring.domain.type.handler.IntegralChangeStatusHandler}
    </select>

    <update id="updateIntegralChange">
        update t_integral_change
        set update_time=now()
        <if test="changeName!=null and changeName !=''">
            ,change_name=#{changeName,jdbcType=VARCHAR}
        </if>
        <if test="changeDep!=null and changeDep!=''">
            ,change_dep=#{changeDep,jdbcType=VARCHAR}
        </if>
        <if test="status!=null">
            ,status=#{status,jdbcType=INTEGER,typeHandler=com.spring.domain.type.handler.IntegralChangeStatusHandler}
        </if>
        <if test="changeType!=null">
            ,change_type=#{changeType,jdbcType=INTEGER,typeHandler=com.spring.domain.type.handler.IntegralChangeTypeHandler}
        </if>
        <if test="math!=null and math!=''">
            ,math=#{math,jdbcType=VARCHAR}
        </if>
        <if test="code!=null and code!=''">
            ,code=#{code,jdbcType=VARCHAR}
        </if>
        where id=#{id,jdbcType=INTEGER}
    </update>
    
    <select id="getIntegralChange" resultMap="BaseResultMap">
        select <include refid="base_column"/>
        from t_integral_change
        where id=#{id,jdbcType=INTEGER}
    </select>

    <select id="getIntegralChangeByCode" resultMap="BaseResultMap">
        select <include refid="base_column"/>
        from t_integral_change
        where code=#{code,jdbcType=VARCHAR}
    </select>
</mapper>